@import "tailwindcss";

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --color-base-900: #0f1115;
  --color-base-800: #1a1b26;
  --color-base-700: #24283b;
  --color-border: #414868;
}

@custom-variant dark (&:is(.dark *));

:root {
  /* Set color-scheme to dark because this is a dark-mode first design */
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  /* `bg-transparent` is crucial for the tauri window transparency to work */
  background-color: transparent;
  color: #c0caf5;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* Prevent text selection */
  user-select: none;
  -webkit-user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
